NET "A[3]" LOC = M8;
NET "A[2]" LOC = V9;
NET "A[1]" LOC = T9;
NET "A[0]" LOC = T10;
NET "CLK" LOC = V10;
NET "SEG_SEL[3]" LOC = P17;
NET "SEG_SEL[2]" LOC = P18;
NET "SEG_SEL[1]" LOC = N15;
NET "SEG_SEL[0]" LOC = N16;
NET "SEG_DATA[7]" LOC = M13;
NET "SEG_DATA[6]" LOC = L14;
NET "SEG_DATA[5]" LOC = N14;
NET "SEG_DATA[4]" LOC = M14;
NET "SEG_DATA[3]" LOC = U18;
NET "SEG_DATA[2]" LOC = U17;
NET "SEG_DATA[1]" LOC = T18;
NET "SEG_DATA[0]" LOC = T17;
NET "B[3]" LOC = N8;
NET "B[2]" LOC = U8;
NET "B[1]" LOC = V8;
NET "B[0]" LOC = T5;
