//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 25 14:45:17 2022
//! **************************************************************************

SCHEMATIC START;
COMP "LD0" LOCATE = SITE "U16" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

